.qroko-blocks-box {
  max-width: var(--qroko-blocks-box-max-width, none);
  margin-right: var(--qroko-blocks-box-margin-right, auto);
  margin-left: var(--qroko-blocks-box-margin-left, auto);
  padding: var(--qroko-blocks-box-padding, 16px);
  background: var(--qroko-blocks-box-background, var(--theme-bg-2, #f2f2f2));
  border: var(--qroko-blocks-box-border, 1px solid var(--theme-bg-3, #e4e4e4));
  box-shadow: var(--qroko-blocks-box-shadow, none);
  border-radius: var(--qroko-blocks-box-radius, 4px);
}

.qroko-blocks-box
  > .block-editor-inner-blocks
  > .block-editor-block-list__layout
  > *:first-child {
  margin-top: 0;
}

.qroko-blocks-box
  > .block-editor-inner-blocks
  > .block-editor-block-list__layout
  > *:last-child {
  margin-bottom: 0;
}
